@import "tailwindcss";

@theme{
  --color-primary: #1D4ED8;
  --color-dark: #0B1B3F;
  --color-accent: #38BDF8;
  --color-light: #E0F2FE;
  --color-text: #0F172A;
}

html { scroll-padding-top: 4rem; }